body {
    font-family: Roboto, sans-serif;
    /*padding-left: 150px;
    padding-right: 150px; */
    /* max-width: 80%;
    margin: 0 auto;
    padding: 30px 30px; */
    background-color: #1F2937;
    /* display: flex; */
}

.header, .upper-content, .mid-content {
    max-width: 80%;
    margin: 0 auto;
    padding: 30px 30px;
}

.header,
.footer {
    background-color: #1F2937;
}

.navbar-left {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text, .main-hook-right {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    align-self: flex-start;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
}

.main-hook {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-hook-right {
    width: 600px;
    height: 200px;
    background-color: gray;
    text-align: center;
    align-content: center;
    margin-left: 40px;
}

.upper-content {
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 30px;
}

#random-info-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

.items-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.item {
    width: 175px;
    height: 175px;
    margin-bottom: 12px;
    text-align: center;
}

.img-placeholder {
    width: 125px;
    height: 125px;
    border: 2px solid blue;
    border-radius: 6px;
    justify-self: center; 
}

.mid-content {
    background-color: #E5E7EB;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 30px;
    justify-content: center;
}

#quote-container {
    max-width: 50%;
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    justify-self: center;
    font-weight: 300;
    color: #333;
}

#quote-author {
    font-weight: bold;
    justify-self: right;
}

.lower-content {
    background-color: #ffffff;
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 30px;
    justify-content: center;
}

.call-box {
    display: flex;
    max-width: 75%;
    justify-self: center;
    background-color: #3882F6;
    padding: 20px 80px;
    gap: 60px;
    align-items: center;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.call-box-text {
    color: white;
}

.sign-up {
    border: 2px solid white;
    border-radius: 8px;
    height: 40px;
    width: 100px;
}

h4.call-box-text {
    margin-bottom: 0px;
}

p.call-box-text {
    margin-top: 6px;
}

.footer {
    padding-top: 16px;
    padding-bottom: 16px;
}

.footer-text {
    color: white;
    justify-self: center;
    font-size: 14px;
}
